<h3>Payment Detail</h3>

<div *ngIf="data">

  <mat-card>

    <mat-card-content>


      {{data.dueDate | date }}<br>

      {{getAccountFormatted(data.partyAccount)}}<br>

      {{data.categoryId}}<br>

      {{getMoneyFormatted(data.value)}}<br>


      {{data.partyDescription}}<br>
      {{data.direction}}<br>

      {{data.transactionType}}<br>

      {{data.valueDate | date}}<br>

      {{data.bookingDate | date}}<br>

      {{data.userDescription}}<br>
      {{data.payeeMessage}}<br>
      {{data.categoryId}}<br>
      {{data.transactionFee}}<br>
      {{data.transactionFeeCanceled}}<br>


      <div *ngIf="data.additionalInfoDomestic">
        {{data.additionalInfoDomestic.constantSymbol}}<br>
        {{data.additionalInfoDomestic.variableSymbol}}<br>
        {{data.additionalInfoDomestic.specificSymbol}}<br>
      </div>
      <div *ngIf="data.additionalInfoForeign">
        {{data.additionalInfoForeign.exchangeRate}}<br>
        <div *ngIf="data.additionalInfoForeign.originalValue">

          {{getTransactionAdditionalInfoForeignOriginalValueFormatter(data.additionalInfoForeign.originalValue)}}

        </div>


      </div>
      <div *ngIf="data.additionalInfoCard">
        {{data.additionalInfoCard.cardNumber}}<br>
        {{data.additionalInfoCard.mcc}}<br>
        {{data.additionalInfoCard.merchantName}}<br>
      </div>


    </mat-card-content>


  </mat-card>


</div>
