<mat-form-field>
  <mat-select placeholder="Category" (selectionChange)="onselectionChange($event)"
              [(value)]="selectedValue" [disabled]="disabled">

    <mat-select-trigger>
      <mat-icon *ngIf="getCategoryIcon(selectedValue)">{{getCategoryIcon(selectedValue)}}</mat-icon>
      {{getCategoryName(selectedValue)}}
    </mat-select-trigger>

    <mat-option>None</mat-option>
    <mat-option *ngFor="let category of categories" [value]="category.id">
      <mat-icon>{{category.icon}}</mat-icon>
      {{category.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
