<h3>Categories list</h3>

<add-button mat-raised-button (onClick)="addNewCategory()"></add-button>

<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
  <thead>
  <tr>
    <td></td>
    <td>Icon</td>
    <td>Name</td>
    <td>Type</td>
    <td></td>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let row of data">

    <td>
      <edit-button (onClick)="editCategory(row)"></edit-button>
    </td>
    <td>
      <mat-icon>{{row.icon}}</mat-icon>
    </td>
    <td>{{row.name}}</td>
    <td>{{row.type}}</td>

    <td>
      <delete-button (onClick)="onDelete(row)"></delete-button>
    </td>

  </tr>
  </tbody>
</table>

