<mat-card>

  <mat-card-content>

    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>

    <detail-button (onClick)="openDetail()"></detail-button>
    <br>

    {{data.payment.dueDate | date }}<br>

    {{getAccountFormatted(data.payment.partyAccount)}}<br>

    {{data.payment.categoryId}}<br>

    {{getMoneyFormatted(data.payment.value)}}

  </mat-card-content>

</mat-card>
