<div mat-dialog-content class="height100">


  <div class="row">
    <div class="col-sm-12">
      <category-view [category]="data.payment.category" [editable]="true"
                     (onClick)="onCategoryChangeClick()"></category-view>
    </div>
  </div>

  <dl class="border">
    <dt>Account Number:</dt>
    <dd>{{getAccountFormatted(data.payment.partyAccount)}}</dd>

    <dt>Price:</dt>
    <dd>{{getMoneyFormatted(data.payment.value)}}</dd>

    <dt>Due Date:</dt>
    <dd>{{data.payment.dueDate | date:'medium' }}</dd>
  </dl>

  <dl class="border">

    <dt>First Payment:</dt>
    <dd>{{data.payment.recuringPayment.firstPayment | date:'medium'}}</dd>

    <dt>Last Payment:</dt>
    <dd>{{data.payment.recuringPayment.lastPayment | date:'medium'}}</dd>

    <dt>Interval:</dt>
    <dd>{{data.payment.recuringPayment.interval}}</dd>

  </dl>
  <dl class="border">

    <dt>Constant Symbol:</dt>
    <dd>{{data.payment.additionalInfo.constantSymbol}}</dd>

    <dt>Specific Symbol:</dt>
    <dd>{{data.payment.additionalInfo.specificSymbol}}</dd>

    <dt>Variable Symbol:</dt>
    <dd>{{data.payment.additionalInfo.variableSymbol}}</dd>
  </dl>

  <dl class="border">
    <dt>Payer Message:</dt>
    <dd>{{data.payment.payerMessage}}</dd>
  </dl>

</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>
