.tileHead {
  /*  vertical-align: text-top;*/
  font-size: 12px;
  font-weight: 400;
  font-family: "Arial Black";
  color: #757575
}

.tileBody {
  padding-top: 10px;
  font-size: 12px;
  font-weight: 400;
}

.tileMsg {
  text-align: center;
  margin-top: -20px;
}

.full-screen-modal .mat-dialog-container {
  max-width: none;
}

.payerHead{
  text-align: left;
}

dl {
  clear: left;
}

dt {
  width: 120px;
  float: left;
  clear: left;
  display: block;
  font-weight: normal;
  margin-bottom: 10px;
}

dd {
  font-weight: bold;
  float: left;
  width: 270px;
  margin-bottom: 10px;
}

.border {
  border-top: 1px solid #dadada;
  padding-top: 10px;
}
