<h3>Payment Detail</h3>

<div *ngIf="data">

  <mat-card>

    <mat-card-content>

      <category-select (selectionChange)="onSelectionChange($event)"></category-select>


      {{getAccountFormatted(data.partyAccount)}}<br>

      {{getMoneyFormatted(data.value)}}<br>

      DueDate: {{data.dueDate | date:'medium' }}<br>

      <div *ngIf="data.recuringPayment">

        FirstPayment: {{data.recuringPayment.firstPayment | date:'medium'}}<br>
        Interval: {{data.recuringPayment.interval}}<br>
        LastPayment: {{data.recuringPayment.lastPayment | date:'medium'}}<br>

      </div>

      PayeeMessage: {{data.payeeMessage}}<br>
      PayerMessage: {{data.payerMessage}}<br>
      CategoryId: {{data.categoryId}}<br>

      <div *ngIf="data.additionalInfo">
        ConstantSymbol: {{data.additionalInfo.constantSymbol}}<br>
        SpecificSymbol: {{data.additionalInfo.specificSymbol}}<br>
        VariableSymbol: {{data.additionalInfo.variableSymbol}}<br>
      </div>


    </mat-card-content>


  </mat-card>


</div>
