<h3>Detail</h3>


From URL: {{id}}

<br><br><br>

<div *ngIf="data" >
<!--_id: {{data._id}}<br>-->
value.amount: {{data.value.amount}}<br>
value.currency: {{data.value.currency}}<br>
partyAccount.prefix: {{data.partyAccount.prefix}}<br>
partyAccount.accountNumber: {{data.partyAccount.accountNumber}}<br>
partyAccount.bankCode: {{data.partyAccount.bankCode}}<br>
dueDate: {{data.dueDate}}<br>
recuringPayment.firstPayment: {{data.recuringPayment.firstPayment}}<br>
recuringPayment.interval: {{data.recuringPayment.interval}}<br>
recuringPayment.lastPayment: {{data.recuringPayment.lastPayment}}<br>
payeeMessage: {{data.payeeMessage}}<br>
payerMessage: {{data.payerMessage}}<br>
categoryId: {{data.categoryId}}<br>
additionalInfo.constantSymbol: {{data.additionalInfo.constantSymbol}}<br>
additionalInfo.specificSymbol: {{data.additionalInfo.specificSymbol}}<br>
additionalInfo.variableSymbol: {{data.additionalInfo.variableSymbol}}<br>
id: {{data.id}}<br>
accountId: {{data.accountId}}<br>
editableByUser: {{data.editableByUser}}<br>
realizationStatus: {{data.realizationStatus}}<br>
</div>
