<div>
  <category-select (selectionChange)="selectionChange($event)"></category-select>

  <mat-form-field>
    <input matInput [matDatepicker]="dtPickerFrom" placeholder="Date From"
           [formControl]="serializedDateFrom"
           (dateInput)="onDtFromChangeFrom($event)" (dateChange)="onDtFromChangeFrom($event)">
    <mat-datepicker-toggle matSuffix [for]="dtPickerFrom"></mat-datepicker-toggle>
    <mat-datepicker #dtPickerFrom></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="dtPickerTo" placeholder="Date To"
           [formControl]="serializedDateTo"
           (dateInput)="onDtFromChangeTo($event)" (dateChange)="onDtFromChangeTo($event)">
    <mat-datepicker-toggle matSuffix [for]="dtPickerTo"></mat-datepicker-toggle>
    <mat-datepicker #dtPickerTo></mat-datepicker>
  </mat-form-field>

  <ok-button (onClick)="onFilterSubmit()"></ok-button>

</div>
