<h6>Filter</h6>
<category-select (selectionChange)="selectionChange($event)"></category-select>


<!--<mat-form-field>-->
<!--<input matInput [matDatepicker]="picker" placeholder="Choose a date" [(value)]="filterObj.dtFrom"-->
<!--(change)="onDtFromChange($event)">-->
<!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--<mat-datepicker #picker></mat-datepicker>-->
<!--</mat-form-field>-->


<!--<mat-form-field>-->
<!--<input matInput [matDatepicker]="picker" placeholder="Input & change events"-->
<!--(dateInput)="onDtFromChange($event)" (dateChange)="onDtFromChange($event)">-->
<!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--<mat-datepicker #picker></mat-datepicker>-->
<!--</mat-form-field>-->


<mat-form-field>
  <input matInput [matDatepicker]="picker1" placeholder="Date From"
         [formControl]="serializedDateFrom"
         (dateInput)="onDtFromChangeFrom($event)" (dateChange)="onDtFromChangeFrom($event)"
  >
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <input matInput [matDatepicker]="picker2" placeholder="Date To"
         [formControl]="serializedDateTo"
         (dateInput)="onDtFromChangeTo($event)" (dateChange)="onDtFromChangeTo($event)"
  >
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>
