<mat-card>

  <mat-card-content>

    <mat-grid-list cols="5" rowHeight="5:1">

      <mat-grid-tile> <category-view [categoryId]="data.categoryId"></category-view> </mat-grid-tile>
      <mat-grid-tile> {{data.transaction.dueDate | date }} </mat-grid-tile>
      <mat-grid-tile> {{getAccountFormatted(data.transaction.partyAccount)}} </mat-grid-tile>
      <mat-grid-tile> {{data.transaction.categoryId}} </mat-grid-tile>
      <mat-grid-tile> {{getMoneyFormatted(data.transaction.value)}} </mat-grid-tile>
      <mat-grid-tile> {{data.transaction.partyDescription}} </mat-grid-tile>
      <mat-grid-tile> {{data.transaction.direction}} </mat-grid-tile>
      <mat-grid-tile> {{data.transaction.transactionType}} </mat-grid-tile>
      <mat-grid-tile> {{data.transaction.valueDate | date}}      </mat-grid-tile>
      <mat-grid-tile> {{data.transaction.bookingDate | date}}</mat-grid-tile>
      <mat-grid-tile>{{data.transaction.userDescription}} </mat-grid-tile>
      <mat-grid-tile> {{data.transaction.payeeMessage}}</mat-grid-tile>
      <mat-grid-tile>{{data.transaction.categoryId}}</mat-grid-tile>
      <mat-grid-tile>{{data.transaction.transactionFee}} </mat-grid-tile>
      <mat-grid-tile> {{data.transaction.transactionFeeCanceled}}</mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>
</mat-card>


