<mat-list-item>

  <div class="col-sm-2">

    <detail-button (onClick)="openDetail()"></detail-button>
  </div>

  <div class="col-sm-4">
    <strong>{{getAccountFormatted(data.transaction.partyAccount)}}</strong>
  </div>

  <div class="col-sm-2">
    <div [class.priceRed]="isPriceRed()" [class.priceGreen]="isPriceGreen()" class="gridPrice"> {{getMoneyFormatted(data.transaction.value)}} </div>
  </div>

  <div class="col-sm-2">
    {{data.transaction.valueDate | date }}
  </div>
  <div class="col-sm-2">
    <category-view [category]="data.transaction.category"></category-view>
  </div>

</mat-list-item>
