<div mat-dialog-content class="height100">


  <div class="row">
    <div class="col-sm-12">
      <category-view [category]="data.transaction.category" [editable]="true"
                     (onClick)="onCategoryChangeClick()"></category-view>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">

      <dl class="border">
        <dt>Party Account:</dt>

        <dd>{{getAccountFormatted(data.transaction.partyAccount)}}
        </dd>

        <dt>Party Description:</dt>
        <dd>{{data.transaction.partyDescription}}</dd>

        <dt>Transaction Value:</dt>
        <dd>{{getMoneyFormatted(data.transaction.value)}}</dd>

        <dt>Value Date:</dt>
        <dd> {{data.transaction.valueDate | date:'medium' }}</dd>

        <dt>Booking Date:</dt>
        <dd> {{data.transaction.bookingDate | date:'medium' }}</dd>

      </dl>
    </div>

    <div class="col-sm-6">
      <dl class="border">
        <dt>Card Number:</dt>
        <dd> {{data.transaction.additionalInfoCard.cardNumber}}</dd>

        <dt>Mmc:</dt>
        <dd>{{data.transaction.additionalInfoCard.mcc}}</dd>

        <dt>Merchant Name:</dt>
        <dd> {{data.transaction.additionalInfoCard.merchantName}}</dd>
      </dl>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-6">

      <dl class="border">

        <dt>Transaction Fee:</dt>
        <dd> {{data.transaction.transactionFee}}</dd>

        <dt>Transaction Fee Canceled:</dt>
        <dd> {{data.transaction.transactionFeeCanceled}}</dd>

      </dl>

      <dl class="border">

        <dt>Exchange Rate:</dt>
        <dd> {{data.transaction.additionalInfoForeign.exchangeRate}}</dd>

        <dt>Original Value:</dt>
        <dd> {{getTransactionAdditionalInfoForeignOriginalValueFormatter(data.transaction.additionalInfoForeign.originalValue)}}</dd>

      </dl>


      <dl class="border">
        <dt>Transaction ID:</dt>
        <dd> {{data.transaction.categoryId}}</dd>

        <dt>Transaction Direction:</dt>
        <dd>{{data.transaction.direction}}</dd>

        <dt>Transaction Type:</dt>
        <dd>{{data.transaction.transactionType}}</dd>
      </dl>

      <dl class="border">
        <dt>User Description:</dt>
        <dd>  {{data.transaction.userDescription}}</dd>

        <dt>Payee Message:</dt>
        <dd>  {{data.transaction.payeeMessage}}</dd>
      </dl>
    </div>
    <div class="col-sm-6">

      <dl class="border">
        <dt>Constant Symbol:</dt>
        <dd>{{data.transaction.additionalInfoDomestic.constantSymbol}}</dd>

        <dt>Variable Symbol:</dt>
        <dd>  {{data.transaction.additionalInfoDomestic.variableSymbol}}</dd>

        <dt>Specific Symbol:</dt>
        <dd> {{data.transaction.additionalInfoDomestic.specificSymbol}}</dd>

      </dl>

    </div>

  </div>


</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>
