<mat-expansion-panel *ngIf="data">

  <mat-expansion-panel-header>

    <category-view [categoryId]="data.categoryId"></category-view>

    {{data.transaction.dueDate | date }}<br>

    {{getAccountFormatted(data.transaction.partyAccount)}}<br>

    {{data.transaction.categoryId}}<br>

    {{getMoneyFormatted(data.transaction.value)}}<br>


    {{data.transaction.partyDescription}}<br>
    {{data.transaction.direction}}<br>

    {{data.transaction.transactionType}}<br>

    {{data.transaction.valueDate | date}}<br>

    {{data.transaction.bookingDate | date}}<br>

    {{data.transaction.userDescription}}<br>
    {{data.transaction.payeeMessage}}<br>
    {{data.transaction.categoryId}}<br>
    {{data.transaction.transactionFee}}<br>
    {{data.transaction.transactionFeeCanceled}}<br>

  </mat-expansion-panel-header>


  <transaction-list-item-detail (onRequestReload)="requstReload()"
                                [data]="data"></transaction-list-item-detail>

</mat-expansion-panel>
